@import "tailwindcss";
@theme {
  --color-custom-blue: #007EA7;
  --color-custom-dark-blue: #00171F;
  --color-custom-dark-blue-modified: #003459;
  --color-custom-blue-modified: #033C4E;
  --color-custom-light-blue: #00A7E1;
  --color-custom-white: #EDFDFF;
}
* {
  scroll-behavior: smooth;
}